
<div class="row">
    <div class="col-lg-6 mx-auto mt-5">
        <div class="p-5 border rounded">
            <form [formGroup]="formData" (ngSubmit)="saveData(formData.value)">
                <input type="hidden" formControlName="id">
                
                <label>Name :</label> &nbsp; <br>
                <input type="text" class="form-control" formControlName="name"> &nbsp; <br>
                <input type="text" class="form-control" formControlName="price"> &nbsp; <br>
                <button  class="btn btn-primary">Submit</button>


            </form>
        </div>
    </div>
</div>
